<div class="header">
  <img src="assets/logo_p6.png" class="headerImage">
  <div class="header-buttons">
    <button class="menu-button" (click)="toggleMenu()">&#9776;</button>
    <!-- Boutons du menu pour la version responsive (masqués en desktop) -->
    <a routerLink="/home" routerLinkActive="active" class="feed-link hidden-desktop">Articles</a>
    <a routerLink="/subject" class="subject-link hidden-desktop">Thèmes</a>
  </div>
</div>
<hr class="separator">

<div class="user-container" *ngIf="user">
  <h2>Profil de l'utilisateur</h2>
  <div class="user-details">
    <p><strong>Prénom :</strong> {{ user.firstName }}</p>
    <p><strong>Nom :</strong> {{ user.lastName }}</p>
    <p><strong>Email :</strong> {{ user.email }}</p>
    <p><strong>Créé le :</strong> {{ user.createdAt | date }}</p>
  </div>

  <div class="user-edit-form">
    <h2>Modifier le profil de l'utilisateur</h2>
    <form (ngSubmit)="updateUser()">
      <div class="form-group">
        <label for="firstName">Prénom</label>
        <input type="text" id="firstName" [(ngModel)]="updateUserRequest.firstName" name="firstName" required>
      </div>
      <div class="form-group">
        <label for="lastName">Nom</label>
        <input type="text" id="lastName" [(ngModel)]="updateUserRequest.lastName" name="lastName" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" [(ngModel)]="updateUserRequest.email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" [(ngModel)]="updateUserRequest.password" name="password" required>
      </div>

      <button type="submit">Modifier</button>
    </form>
  </div>

  <div class="subscriptions-container">
    <div class="section-header">
      <h2>Mes Abonnements</h2>
    </div>
    <ul class="subscriptions">
      <li *ngFor="let subscription of subscriptions">
        <span class="subscription-name">{{ subscription.name }}</span>
        <button class="unsubscribe-button" (click)="unsubscribeUser(subscription.id)">Se désabonner</button>
      </li>
    </ul>
  </div>
</div>

<div class="buttons">
  <button (click)="logout()">Déconnexion</button>
  <button (click)="goToHomePage()">Accueil</button>
</div>

<!-- Menu en transition pour les versions mobiles -->
<div class="mobile-menu" [class.open]="isMenuOpen">
  <a routerLink="/home" (click)="toggleMenu()">Articles</a>
  <a routerLink="/subject" (click)="toggleMenu()">Thèmes</a>
</div>
