body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
}

.headerImage {
  width: 80px;
  height: auto;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.header-buttons a {
  color: black;
  margin-right: 20px;
  font-weight: bold;
  text-decoration: none;
  transition: opacity 0.3s;
}

.header-buttons a:hover {
  opacity: 0.8;
}

.menu-button {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Séparateur */
.separator {
  width: 100%;
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

/* Contenu utilisateur */
.user-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-container h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

.user-details p {
  margin-bottom: 10px;
}

/* Formulaire de modification */
.user-edit-form {
  padding: 0 20px;
  text-align: center;
}

.user-edit-form h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: calc(100% - 40px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 20px;
}

/* Bouton Modifier */
.update-button {
  display: block;
  margin: 20px auto 10px auto;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: #5c4cdb;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.update-button:hover {
  background-color: #6a5acd;
}

/* Lien Déconnexion */
.logout-link {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #c82333;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.logout-link:hover {
  text-decoration: underline;
}

/* Liste des abonnements */
.subscriptions {
  list-style-type: none;
  padding: 0;
}

.subscriptions li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.subscription-name {
  flex: 1;
}

.unsubscribe-button {
  background-color: #5c4cdb;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.unsubscribe-button:hover {
  background-color: #6a5acd;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 15%;
  height: 90%;
  background-color: white;
  color: black;
  padding: 20px;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}
.user-button-mobile {
  align-self: flex-end; /* Centrer le bouton */
  margin-top: auto; /* Mettre le bouton en bas */

}

.mobile-menu.open {
  transform: translateX(0);
  display: flex; /* Change 'none' to 'flex' when open */
}

.mobile-menu a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 20px;
  transition: opacity 0.3s;
  text-align: right;
}

.mobile-menu a:hover {
  opacity: 0.8;
}

.headerImage-menu {
  width: 48px;
  height: 48px;
}
/* Responsive styles */
@media (max-width: 768px) {
  .header-buttons a {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .container {
    padding: 10px;
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  .headerImage {
    margin-right: auto;
  }

  .header-buttons {
    margin-left: auto;
  }

  .menu-button {
    display: block;
    font-size: 24px;
    cursor: pointer;
  }

  .user-container {
    padding: 15px;
    min-width: 320px;
  }

  .user-edit-form {
    padding: 0;
  }

  .form-group input {
    width: calc(100% - 30px);
    margin: 0 15px;
  }

  .update-button {
    display: block;
    margin: 20px auto 10px auto;
  }

  .logout-link {
    display: block;
    margin: 10px auto;
  }

  .headerImage-menu {
    align-self: flex-end;
  }
}

@media (max-width: 480px) {
  .headerImage {
    width: 60px;
  }

  .header-buttons a {
    font-size: 0.8rem;
    margin-right: 5px;
  }

  .user-container h2 {
    font-size: 20px;
  }

  .form-group label,
  .form-group input {
    font-size: 0.8rem;
  }

  .user-container {
    padding: 15px;
    min-width: 320px;
  }

  .form-group input {
    width: calc(100% - 20px);
    margin: 0 10px;
  }

  .update-button {
    display: block;
    margin: 20px auto 10px auto;
  }

  .logout-link {
    display: block;
    margin: 10px auto;
  }
}
