<div class="container">
  <!-- Header avec les boutons -->
  <div class="header">
    <img src="assets/logo_p6.png" class="headerImage">
    <div class="header-buttons">
      <button class="menu-button" (click)="toggleMenu()">&#9776;</button>
      <a routerLink="/home" class="feed-link">Articles</a>
      <a routerLink="/subject" class="subject-link">Thèmes</a>
      <button (click)="goToUserPage()" class="user-button">
        <img src="assets/user.png" class="userImage">
      </button>
    </div>
  </div>

  <!-- Ligne séparatrice -->
  <hr class="separator">

  <!-- Bouton pour Nouvel Article -->
  <button class="new-article-button" (click)="goToArticle()">Créer un article</button>

  <div class="sort-buttons">
    <button (click)="sortPostsByDateAscending()">Trier par ancienneté</button>
    <button (click)="sortPostsByDateDescending()">Trier par date récente</button>
  </div>

  <!-- Layout principal avec le feed au centre -->
  <div class="main-content">
    <!-- Feed au centre -->
    <div class="feed-container">
      <div *ngIf="selectedSubject; else noSubjectSelected" class="card-list">
        <div class="post-card" *ngFor="let post of selectedSubject.posts" (click)="goToPostDetail(post.id)">
          <h4>{{ post.title }}</h4>
          <p>{{ post.content }}</p>
          <p class="post-author">{{ post.user.firstName }}</p>
          <p class="post-date">{{ post.createdAt | date: 'medium' }}</p>
        </div>
      </div>
      <ng-template #noSubjectSelected>
        <div class="card-list">
          <div class="post-card" *ngFor="let post of getPostsFromSubscriptions()" (click)="goToPostDetail(post.id)">
            <h4>{{ post.title }}</h4>
            <p>{{ post.content }}</p>
            <p class="post-author">{{ post.user.firstName }}</p>
          </div>
        </div>
      </ng-template>
    </div>
  </div>

  <!-- Menu en transition pour les versions mobiles -->
  <div class="mobile-menu" [class.open]="isMenuOpen">
    <a routerLink="/home" (click)="toggleMenu()">Articles</a>
    <a routerLink="/subject" (click)="toggleMenu()">Thèmes</a>
    <button (click)="goToUserPage()" class="user-button-mobile">
      <img src="assets/user.png" class="headerImage">
    </button>
  </div>
</div>
