
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #000;
}

.headerImage {
  width: 10%;
  height: 10%;
}


.back-arrow {
  display: block;
  margin: 20px 0;
  font-size: 24px;
  color: #5c4cdb;
  text-decoration: none;
  text-align: left;
  margin-left: 20px;
  transition: opacity 0.3s;
}

.back-arrow:hover {
  opacity: 0.8;
}


.register-container {
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
}

.responsive-logo {
  display: none;
  width: 33%;
  margin: 0 auto 20px;
}

.register-container h2 {
  margin-bottom: 20px;
  color: black;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: black;
}

.form-group input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
  color: black;
}

.form-group input::placeholder {
  color: black;
}

.submit-button {
  width: auto;
  padding: 8px 20px;
  border: none;
  border-radius: 10px;
  background-color: #7451eb;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 10px;
}

.submit-button:hover {
  background-color: #5c4cdb;
}

.login-button {
  background-color: #fff;
  color: #5c4cdb;
  border: 2px solid #7a5bff;
}

.login-button:hover {
  background-color: #5c4cdb;
  color: #fff;
}


@media (max-width: 768px) {
  .header {
    display: none;
  }

  .responsive-logo {
    display: block;
    width: 100%;
    height: auto;
    max-width: 300px;
    margin: 0 auto 20px;
  }

  .register-container {
    margin: 30px auto;
    padding: 0 20px;
  }

  .register-container h2 {
    font-size: 22px;
  }

  .submit-button,
  .login-button {
    font-size: 14px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .header {
    display: none;
  }

  .responsive-logo {
    display: block;
    width: 100%;
    height: auto;
    max-width: 300px;
    margin: 0 auto 20px;
  }

  .back-arrow {
    top: 80px;
    left: 10px;
    font-size: 14px;
  }

  .register-container {
    margin: 20px auto;
    padding: 0 10px;
  }

  .register-container h2 {
    font-size: 18px;
  }

  .form-group input {
    padding: 8px;
  }

  .submit-button,
  .login-button {
    font-size: 12px;
    padding: 8px;
  }
}
