<div class="page-container">

  <div class="header" *ngIf="post">
    <img src="assets/logo_p6.png" class="headerImage">
    <div class="header-buttons">
      <a routerLink="/home" routerLinkActive="active" class="feed-link hidden-desktop">Articles</a>
      <a routerLink="/subject" class="subject-link hidden-desktop">Thèmes</a>
      <button (click)="goToUserPage()" class="user-button">
        <img src="assets/user.png" class="userImage">
      </button>
    </div>
    <button class="menu-button" (click)="toggleMenu()">&#9776;</button>
  </div>

  <hr class="separator">

  <div class="top-section">
    <div class="arrow">
      <a class="back-arrow" href="/home">←</a>
    </div>
    <div class="postTop">
    <div class="post-detail-container" *ngIf="post">
      <h2>{{ post.title }}</h2>
      <div class="post-meta">
        <p class="post-date">{{ post.createdAt | date }}</p>
        <div class="post-author">{{ post.user.firstName }}</div>
        <p class="post-subject">{{ post.subject.name }}</p>
      </div>
      <div class="post-content">{{ post.content }}</div>
    </div>
    </div>
  </div>

  <hr class="section-divider">

  <div class="bottom-section">
    <div class="comments-section" *ngIf="comments && comments.length > 0">
      <h3>Comments:</h3>
      <ul>
        <li *ngFor="let comment of comments" class="comment-item">
          <div class="comment-content">
            <div class="comment-header">
              <strong>{{ comment.user.firstName }} {{ comment.user.lastName }}</strong>
            </div>
            <p>{{ comment.content }}</p>
          </div>
        </li>
      </ul>
    </div>

    <div *ngIf="!comments || comments.length === 0">
      <p>No comments available.</p>
    </div>

    <form #commentForm="ngForm" (ngSubmit)="addComment(commentForm)" class="add-comment-form">
      <textarea name="content" [(ngModel)]="commentContent" required rows="4" placeholder="Write your comment here..."></textarea>
      <button type="submit" [disabled]="commentForm.invalid">Add Comment</button>
    </form>
  </div>

  <div class="mobile-menu" [class.open]="isMenuOpen">
    <a routerLink="/home">Articles</a>
    <a routerLink="/subject">Thèmes</a>
    <button (click)="goToUserPage()" class="user-button-menu">
      <img src="assets/user.png" class="userImage">
    </button>
  </div>
</div>


