<div class="container">
  <div class="header">
    <img src="assets/logo_p6.png" class="headerImage">
    <div class="header-buttons">
      <a routerLink="/home" class="feed-link">Articles</a>
      <a routerLink="/subject" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" class="subject-link">Thèmes</a>
      <button (click)="goToUserPage()" class="user-button">
        <img src="assets/user.png" class="userImage">
      </button>
    </div>
    <button class="menu-button" (click)="toggleMenu()">☰</button>
  </div>
  <hr class="separator">
  <div class="main-content">
    <div class="subjects-container">
      <div class="subject-cards">
        <div class="subject-card" *ngFor="let subject of subjects" (click)="selectSubject(subject)">
          <h3>{{ subject.name }}</h3>
          <div class="subject-description">
            <p>{{ subject.description }}</p>
          </div>
          <button (click)="subscribeToSubject(subject)">S'abonner</button>
        </div>
      </div>
    </div>
    <div class="feed-container">
      <h2>Articles</h2>
      <div *ngIf="selectedSubject" class="card-list">
        <div class="post-card" *ngFor="let post of selectedSubject.posts" (click)="goToPostDetail(post.id)">
          <h4>{{ post.title }}</h4>
          <p>{{ post.content }}</p>
          <p class="post-author">{{ post.user.firstName }}</p>
          <p class="post-date">{{ post.createdAt | date }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-menu" [class.open]="isMenuOpen">
    <a routerLink="/home">Articles</a>
    <a routerLink="/subject">Thèmes</a>
    <button (click)="goToUserPage()" class="user-button-menu">
      <img src="assets/user.png" class="userImage">
    </button>
  </div>
</div>
