
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.post-card {
  width: calc(50% - 10px);
  background-color: #f5f5f5;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.post-card:hover {
  transform: translateY(-5px);
}

.post-card h4 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}

.post-card p {
  margin-bottom: 10px;
}

.post-card .post-author {
  font-style: italic;
}

.post-card .post-date {
  font-size: 14px;
  color: #666;
}

.post-card button {
  padding: 10px 20px;
  background-color: #7451eb;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: center;
  margin-top: auto;
}

.post-card button:hover {
  background-color: #4b3ca7;
}

.mobile-menu {
  display: none;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
}

.headerImage {
  width: 80px;
  height: auto;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.userImage {
  width: 40px;
  height: auto;
  border-radius: 50%;
}

.header-buttons a {
  color: black;
  margin-right: 20px;
  font-weight: bold;
  text-decoration: none;
  transition: opacity 0.3s;
}

.header-buttons a:hover {
  opacity: 0.8;
}

.user-button {
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.user-button:hover {
  background-color: #372e86;
}

.menu-button {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}


.separator {
  width: 100%;
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}


.subjects-container {
  background-color: #fff;
  padding: 20px;
}

.subjects-container h2 {
  color: #333;
  margin-bottom: 10px;
}


.subject-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.subject-card {
  width: calc(45%);
  background-color: #f5f5f5;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subject-card:hover {
  transform: translateY(-5px);
}

.subject-card h3 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}

.subject-card .subject-description {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.subject-card p {
  margin-bottom: 10px;
}

.subject-card button {
  padding: 10px 20px;
  background-color: #7451eb;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: center;
  margin-top: auto;
}

.subject-card button:hover {
  background-color: #4b3ca7;
}


@media (max-width: 768px) {
  .header-buttons a {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .new-article-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #7451eb;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
    max-width: 200px;
    width: 70%;
    margin: 20px auto;
  }

  .new-article-button:hover {
    background-color: #5c4cdb;
  }

  .subjects-container {
    margin: 30px auto;
    padding: 0 10px;
  }

  .subjects-container h2 {
    font-size: 22px;
  }

  .subject-card {
    width: calc(100% - 20px);
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    top: auto;
    right: 0;
    width: 15%;
    height: 90%;
    background-color: white;
    color: black;
    padding: 20px;
    padding-right: 100px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  .mobile-menu.open {
    transform: translateX(15%);
  }

  .mobile-menu a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 20px;
    transition: opacity 0.3s;
    align-self: flex-end;
  }

  .mobile-menu a:hover {
    opacity: 0.8;
  }

  .user-button-menu {
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .user-button-menu:hover {
    background-color: #4b3ca7;
  }


  .user-button {
    display: none;
  }
  .user-button-menu {
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: auto;
    margin-bottom: 30px;


  }
}

@media (max-width: 480px) {
  .subjects-container {
    margin: 20px auto;
    padding: 0 10px;
  }

  .subjects-container h2 {
    font-size: 18px;
  }

  .subject-card {
    width: calc(100% - 20px);
  }
}
@media (max-width: 768px) {
  .post-card {
    width: calc(50% - 10px);
  }
}

@media (max-width: 480px) {
  .post-card {
    width: calc(100% - 20px);
  }
}
